-----BEGIN CERTIFICATE-----
MIICrjCCAZYCCQDUW0JLMGIKSzANBgkqhkiG9w0BAQsFADAZMQswCQYDVQQGEwJ1
czEKMAgGA1UECwwBYTAeFw0xOTA5MTkxNjU0MjdaFw0yOTA5MTYxNjU0MjdaMBkx
CzAJBgNVBAYTAnVzMQowCAYDVQQLDAFhMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEAtRNtSWLfIjPKKn9TEsrzkGGJ7PfExdm5BlF0Z0KWMc3D5rQaZtFC
e25V/ne2AchAO6paoGbptCdBzdB6hU5TM/dMHwC9ASnTkGCA918J/e1r/FBTOfHT
dY+Lj4Ym9aDtNeY9WymkSuXHjOmV5Fbcn9+GTkEW2d3Vcxcdk0ZYsmzpJ2RHdsjE
nPuz1Nn7yiggJGbjbOIJrIMGgWoj/kgGbHPznur+qG2qfpZdyKiovYmQvM0O+mpb
Lf6Htr8tZsIBwfDn6/7EHa92/+lJFpW006x+1YUIb2it2UI6+FtlwZ2Jo51hgNr7
8X5/BCl9+GouSjYiWwb9lhx2kJhYiUCYBwIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
AQAABsy88a9qHdiD10NpMIEoyz86Qrlna38wP0prXhYdfzipWTo+T0qn6r1gDJZk
DS5Wxvh/TPigmK5unsMvnCOUneIlVoSxNebzsH9RJIyhF1WcRseuOFabSecAXD1X
cRGmNtyhOcwZu020M3bJ6McH2KMHuKzk48FHnuNeXNu5WKUL7nSE3bPurgzNwXHk
Vj3dHRpcrwe6DqRDvJ7W4h3zLO5xpOhATTag9htm0MnaTHU7bHxC7CuqlC6hJJ45
6yAG3Ggub9/9nsKfB+rhL1p9f7f8Kf2et0Luz8e2u4o8cRsh2GCcq0eq+e1tuXS7
a6NyIeT/JuyN11qUahjNYduk
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIICrjCCAZYCCQDUW0JLMGIKSzANBgkqhkiG9w0BAQsFADAZMQswCQYDVQQGEwJ1
czEKMAgGA1UECwwBYTAeFw0xOTA5MTkxNjU0MjdaFw0yOTA5MTYxNjU0MjdaMBkx
CzAJBgNVBAYTAnVzMQowCAYDVQQLDAFhMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEAtRNtSWLfIjPKKn9TEsrzkGGJ7PfExdm5BlF0Z0KWMc3D5rQaZtFC
e25V/ne2AchAO6paoGbptCdBzdB6hU5TM/dMHwC9ASnTkGCA918J/e1r/FBTOfHT
dY+Lj4Ym9aDtNeY9WymkSuXHjOmV5Fbcn9+GTkEW2d3Vcxcdk0ZYsmzpJ2RHdsjE
nPuz1Nn7yiggJGbjbOIJrIMGgWoj/kgGbHPznur+qG2qfpZdyKiovYmQvM0O+mpb
Lf6Htr8tZsIBwfDn6/7EHa92/+lJFpW006x+1YUIb2it2UI6+FtlwZ2Jo51hgNr7
8X5/BCl9+GouSjYiWwb9lhx2kJhYiUCYBwIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
AQAABsy88a9qHdiD10NpMIEoyz86Qrlna38wP0prXhYdfzipWTo+T0qn6r1gDJZk
DS5Wxvh/TPigmK5unsMvnCOUneIlVoSxNebzsH9RJIyhF1WcRseuOFabSecAXD1X
cRGmNtyhOcwZu020M3bJ6McH2KMHuKzk48FHnuNeXNu5WKUL7nSE3bPurgzNwXHk
Vj3dHRpcrwe6DqRDvJ7W4h3zLO5xpOhATTag9htm0MnaTHU7bHxC7CuqlC6hJJ45
6yAG3Ggub9/9nsKfB+rhL1p9f7f8Kf2et0Luz8e2u4o8cRsh2GCcq0eq+e1tuXS7
a6NyIeT/JuyN11qUahjNYduk
-----END CERTIFICATE-----
